<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header"></header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center" th:text="#{account-manager}"></h2>
            </div>
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2 th:text="#{settings}"></h2>
                    <div class="panel-group category-products" id="accordian">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="choose" th:href="@{'/account/settings/general'}"
                                       th:text="#{settings-general}"></a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a th:href="@{'/account/settings/privacy'}" th:text="#{settings-privacy}"></a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a th:href="@{'/account/settings/sercure'}" th:text="#{settings-secure}"></a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a th:href="@{'/account/settings/activity'}" th:text="#{settings-activity}"></a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a th:href="@{'/account/signout'}" th:text="#{sign-out}"></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <h2 class="title text-center" th:text="#{${settingName}}"></h2>

            </div>
        </div>
        </div>

    </div>

</section>
<footer th:replace="layout :: footer"></footer>
</body>
</html>