<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header"></header>
<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1 th:text="#{shop-title}"></h1>
                                <h2 th:text="#{intro-1}"></h2>
                                <p th:text="#{intro-1-detail}"></p>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl1.jpg" class="girl img-responsive" alt=""/>
                                <img src="images/home/pricing.png" class="pricing" alt=""/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1 th:text="#{shop-title}"></h1>
                                <h2 th:text="#{intro-2}"></h2>
                                <p th:text="#{intro-2-detail}"></p>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl2.jpg" class="girl img-responsive" alt=""/>
                                <img src="images/home/pricing.png" class="pricing" alt=""/>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1 th:text="#{shop-title}"></h1>
                                <h2 th:text="#{intro-3}"></h2>
                                <p th:text="#{intro-3-detail}"></p>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl3.jpg" class="girl img-responsive" alt=""/>
                                <img src="images/home/pricing.png" class="pricing" alt=""/>
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2 th:text="#{category}"></h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <th:block th:each="category:${categories}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a th:href="'/category?id='+${category.id}"
                                                               th:text="#{'category.'+${category.name}}"></a></h4>
                                </div>
                            </div>
                        </th:block>

                    </div><!--/category-products-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->

                    <h2 class="title text-center" th:text="#{feature-books}"></h2>
                    <th:block th:if="${#lists.isEmpty(books)}">
                        <h3 class="title text-center">No Products</h3>
                    </th:block>
                    <th:block th:each="book:${books}">
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <form th:action="@{'/cart/add'}" method="post">
                                        <div class="productinfo text-center">
                                            <a th:href="'/book?id='+${book.id}"><img
                                                    th:src="'images/books/'+${book.id}+'.jpg'"
                                                    style=" max-height: 300px;" alt=""/></a>
                                            <input th:value="${book.price}" type="hidden" name="costPerItem">
                                            <h2>$<span th:text="${book.price}"></span></h2>
                                            <a th:href="'/book?id='+${book.id}"><p th:text="${book.name}"></p></a>
                                            <input type="hidden" th:value="${book.name}" name="name">
                                            <input type="hidden" value="1" name="quantity"/>
                                            <input type="hidden" th:value="${book.id}" name="id">
                                            <button type="submit" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i><span th:remove="tag"
                                                                                          th:text="#{add-to-cart}"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!--<div class="choose">-->
                                <!--<ul class="nav nav-pills nav-justified">-->
                                <!--<li><a href="#"><i class="fa fa-plus-square"></i><span th:remove="tag"-->
                                <!--th:text="#{addwishlist}"></span></a>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </th:block>
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>

<footer th:replace="layout :: footer"></footer>
</body>
</html>