<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>

<body>

<header th:replace="layout::#header"></header>

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Sign in your account</h2>
                    <form action="#" th:action="@{/account/signin}" th:object="${account}" method="POST">
                        <input type="email" placeholder="Email Address" th:field="*{email}"
                               th:class="${#fields.hasErrors('email')}? fieldError"/>
                        <!--<em th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></em>-->
                        <input type="password" placeholder="Password" th:field="*{pass}"
                               th:class="${#fields.hasErrors('pass')}? fieldError"/>
                        <!--<em th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></em>-->
                        <input type="email" placeholder="Email Address"/>
                        <span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in
							</span>
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User ?</h2>
                    <form action="#" th:action="@{/account/signup}" method="POST"
                          novalidate="novalidate">
                        <input type="text" placeholder="Name" th:class="${#fields.hasErrors('userName')}? fieldError"/>
                        <!--<em th:if="${#fields.hasErrors('name')}" th:errors="*{userName}"></em>-->
                        <input type="email" placeholder="Email Address"
                               th:class="${#fields.hasErrors('email')}? fieldError"/>
                        <!--<em th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></em>-->
                        <input type="password" placeholder="Password"
                               th:class="${#fields.hasErrors('pass')}? fieldError"/>
                        <!--<em th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></em>-->
                        <button type="submit" class="btn btn-default">Sign up</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

<footer th:replace="layout::#footer"></footer>

</body>
</html>